<script>
  import { onMount } from 'svelte'
  import { push } from 'svelte-spa-router'
  import axios from 'axios'

  import config from '../config.js'
  import { play } from '../store.js'

  let data = {
    token: '',
    email: '',
    phone: '',
    instagram: ''
  }

  play.subscribe(game => {
    if (game.answers && game.answers.length >= config.QUESTIONS.length) {
      push('/result')
    }

    if (game.token) {
      push('/question')
    }
  })

  onMount(async () => {
    let areaFormEl = document.querySelector('#areaForm')
    let areaImageEl = document.querySelector('#areaImage')

    areaImageEl.style.width = document.body.clientHeight * 0.75 + 'px'
    areaImageEl.style.height = document.body.clientHeight + 'px'

    areaFormEl.style.width =
      document.body.clientWidth - document.body.clientHeight * 0.75 + 'px'
  })

  const methods = {
    async setToken() {
      await axios
        .get(config.BASE_API + 'generate_token')
        .then(response => {
          if (response.data.success) {
            data.token = response.data.token
          }
        })
        .catch(error => {
          console.warn(error)
        })
    },

    validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(String(email).toLowerCase())
    },

    checkData() {
      let checked = true

      Object.keys(data).forEach(key => {
        if (key == 'token') return
        if (!data[key]) checked = false
        if (key == 'email' && !methods.validateEmail(data[key])) checked = false
        // if (key == 'name') data[key] = data[key].trim()
      })

      return checked
    },

    async handleClick(e) {
      e.preventDefault()

      if (methods.checkData()) {
        await methods.setToken()
        play.update(() => data)
        push('/question')
      }
    },

    handleName() {
      if (data.name) {
        data.name = data.name
          .replace(/\s\s+/g, ' ')
          .split(' ')
          .map(str =>
            str
              ? str[0].toUpperCase() +
                str
                  .slice(1)
                  .toLowerCase()
                  .replace(/[^A-Za-z\s]/g, '')
              : ''
          )
          .join(' ')
      }
    },

    handleEmail() {
      if (data.email) {
        data.email = data.email.toLowerCase().replace(/[^a-z0-9\.\_\@\+]/g, '')
      }
    },

    handlePhone() {
      if (data.phone) {
        data.phone = data.phone.replace(/[^0-9\+]/g, '')
      }
    },

    handleInstagram() {
      if (data.instagram) {
        data.instagram = data.instagram
          .toLowerCase()
          .replace(/[^a-z0-9\.\_]/g, '')
      }
    }
  }
</script>

<div class="w-100 h-100 mx-auto">
  <img
    class="logo logo--wmi"
    src="img/logo-wmi-white.png"
    alt="Logo WMI"
    width="75"
  />

  <div class="area">
    <div class="area__image" id="areaImage">
      <img
        alt="Ricky Montgomery"
        loading="lazy"
        class="img-fluid animate__animated animate__bounceInLeft"
        src="img/index.jpg"
      />
    </div>

    <form
      class="area__form animate__animated animate__bounceInRight"
      id="areaForm"
    >
      <img
        alt="Ricky Montgomery"
        loading="lazy"
        class="mobile-image img-fluid animate__animated animate__bounceInDown"
        src="img/indexm.jpg"
      />

      <div class="p-3 text-light">
        <header>
          <h2 class="mb-3">
            {@html config.APP_TITLE}
          </h2>
          <p>
            {@html config.APP_DESC}
          </p>
        </header>

        <div class="input-group mb-1">
          <span class="input-group-text text-light">Alamat E-mail</span>
          <input
            bind:value={data.email}
            on:input={methods.handleEmail}
            type="email"
            class="form-control text-light"
            required
          />
        </div>

        <div class="input-group mb-1">
          <span class="input-group-text text-light">Nomor Ponsel</span>
          <input
            bind:value={data.phone}
            on:input={methods.handlePhone}
            type="text"
            class="form-control text-light"
            required
          />
        </div>

        <div class="input-group mb-1">
          <span class="input-group-text text-light">Akun Instagram</span>
          <input
            bind:value={data.instagram}
            on:input={methods.handleInstagram}
            type="text"
            class="form-control text-light"
            placeholder="@"
            required
          />
        </div>

        <div class="d-block">
          <button
            on:click={methods.handleClick}
            type="submit"
            class="btn btn-info rounded-0 mt-3"
          >
            Mulai
          </button>
        </div>

        <footer class="mt-3">
          <small>
            Dengan menekan tombol "Mulai" di atas, saya setuju dengan <a
              class="text-white"
              title="Syarat dan Ketentuan"
              href="#/terms"
              target="_blank">syarat dan ketentuan yang berlaku.</a
            >
          </small>
        </footer>
      </div>
    </form>
  </div>
</div>

<style>
  .img-fluid {
    width: 100%;
    height: 100%;
  }

  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 15px;
  }

  @media (min-width: 576px) {
    .mobile-image {
      display: none;
    }
  }

  .logo--wmi {
    right: 0;
  }

  .area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 575.98px) {
    .area {
      display: unset;
    }

    .area__image {
      display: none;
    }
  }

  .area__form > div {
    max-width: 640px;
    margin: 0 auto;
  }

  .area__form .input-group {
    border: 0;
    background: transparent;
    border-radius: 0;
  }

  .area__form .input-group .input-group-text {
    font-weight: 400;
    border: 0;
    background: transparent;
    border-radius: 0;
  }

  .area__form .input-group .form-control {
    border: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: unset;
    border-bottom: 1px solid cyan;
  }

  .area__form .input-group .form-control:focus {
    border-bottom: 1px solid green;
  }

  .area__form .input-group .form-control:invalid {
    border-bottom: 1px solid orange;
  }

  .area__form footer {
    font-size: 14px;
  }
</style>
