<script>
  import SecureLS from 'secure-ls'
  import config from '../config.js'
  import { onMount } from 'svelte'
  import { push } from 'svelte-spa-router'
  import axios from 'axios'

  const ls = new SecureLS()

  if (ls.get('auth') == 'authorized') {
    push('/admin')
  }

  let data = {
    username: '',
    password: ''
  }

  onMount(async () => {
    const baseEl = document.querySelector('#base')
    baseEl.style.display = 'flex'
  })

  const methods = {
    handleClick(e) {
      e.preventDefault()
      methods.doLogin()
    },

    async doLogin() {
      await axios
        .post(config.BASE_API + 'post_login', data)
        .then(response => {
          if (response.data.success) {
            ls.set('auth', 'authorized')
            push('/admin')
          }
        })
        .catch(error => {
          console.warn(error)
        })
    }
  }
</script>

<div class="form-signin">
  <form class="animate__animated animate__fadeIn">
    <h1
      class="h3 mb-3 fw-normal text-center animate__animated animate__fadeInDown"
    >
      Admin
    </h1>

    <label for="inputUsername" class="visually-hidden">Username</label>
    <input
      bind:value={data.username}
      type="text"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      required
    />

    <label for="inputPassword" class="visually-hidden">Password</label>
    <input
      bind:value={data.password}
      type="password"
      id="inputPassword"
      class="form-control rounded-0"
      placeholder="Password"
      required
    />

    <button
      class="w-100 btn btn-secondary"
      type="submit"
      on:click={methods.handleClick}>Login</button
    >
  </form>
</div>

<style>
  .form-signin {
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .form-signin .form-control {
    box-shadow: none;
    outline: 0;
    text-align: center;
  }

  .form-signin #inputUsername {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-signin .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
</style>
