<script>
  import SecureLS from 'secure-ls'
  import config from '../config.js'
  import { onMount } from 'svelte'
  import { play } from '../store.js'
  import { push } from 'svelte-spa-router'
  import axios from 'axios'

  const ls = new SecureLS()
  let data
  let category = {
    name: '',
    desc: ''
  }
  let filteredAnswers
  let score = 0
  let level = 0
  let sharer = {
    twitter: '',
    facebook: ''
  }

  onMount(async () => {
    await axios
      .get(config.BASE_API + 'get_category?api_token=' + config.API_TOKEN)
      .then(response => {
        if (score && response.data) {
          response.data.forEach(r => {
            if (r.range) {
              let rArr = r.range.split('-')
              if (score >= +rArr[0] && score <= +rArr[1]) {
                level = +r.id
                category = {
                  name: r.name,
                  desc: r.desc
                }
                return
              }
            }
          })
        }
      })
      .catch(error => {
        console.warn(error)
      })

    let isSent = ls.get('sent')
    if (!isSent) methods.setAnswer()

    await axios
      .get(config.BASE_API + 'get_sharer')
      .then(response => {
        if (response.data) {
          sharer = response.data.sharer
          sharer.twitter = sharer.twitter.replace(
            '__BUCIN__',
            category.name.split('-')[0].toUpperCase().trim().replace(' ', '+')
          )
        }
      })
      .catch(error => {
        console.warn(error)
      })
  })

  play.subscribe(game => {
    data = game

    if (!game.token) {
      push('/')
    }

    if (game.answers && game.answers.length >= config.QUESTIONS.length) {
      filteredAnswers = [...game.answers]
      filteredAnswers.length = config.QUESTIONS.length
      score = filteredAnswers.reduce((acc, cur) => acc + cur)
    } else {
      push('/question')
    }
  })

  const methods = {
    reset() {
      ls.set('sent', false)
      ls.set('result', level)
      ls.set('play', null)
      play.set({})
    },

    async setAnswer() {
      await axios
        .post(config.BASE_API + 'post_answer', {
          ...data,
          answers: filteredAnswers,
          result: level
        })
        .then(response => {
          if (response.data.success) ls.set('sent', true)
        })
        .catch(error => {
          console.warn(error)
        })
    },

    handleClick() {
      methods.reset()
      push('/')
    }
  }
</script>

<div class="w-100 h-100 mx-auto">
  <img
    class="logo logo--wmi"
    src="img/logo-wmi-white.png"
    alt="Logo WMI"
    width="75"
  />

  <div class="area">
    <div class="animate__animated animate__bounceInLeft">
      <img
        alt="Ricky Montgomery"
        loading="lazy"
        class="mobile-image img-fluid animate__animated animate__bounceInDown"
        src="img/r{level}m.jpg"
      />

      <div class="p-3 text-light result">
        <div />

        <div>
          <header>
            <img
              alt="Level Bucin"
              loading="lazy"
              class="img-fluid mb-4 animate__animated animate__bounceInDown"
              src="img/termo-{level}.png"
            />

            <p class="desc">
              <strong>
                Ternyata cintaku kepadanya membuatku menjadi {category.name.toUpperCase()}{level ==
                1
                  ? '.'
                  : '!'}
              </strong>

              <br class="mb-3" />

              {@html category.desc.split('\n')[0]}
            </p>

            <p class="lyric">
              {#each category.desc.split('\n') as desc, i}
                {#if i == 0}
                  &ldquo;
                {/if}
                {#if i > 1}
                  &nbsp;
                {/if}
                {#if i > 0}
                  {desc}
                {/if}
                {#if i > 0 && i < category.desc.split('\n').length - 1}
                  <br />
                {/if}
                {#if i == category.desc.split('\n').length - 1}
                  &rdquo;
                {/if}
              {/each}
            </p>
          </header>
        </div>
      </div>
    </div>

    <div class="animate__animated animate__bounceInRight">
      <div class="p-3">
        <h3>Yuk, dengerin Trending TikTok Playlist!</h3>

        <iframe
          src="https://open.spotify.com/embed/playlist/4gVpZuvQhaGfeDgL1yfMLK"
          width="300"
          height="380"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
          title="Trending TikTok"
          class="m-3"
        />

        <p>
          Follow dan stream playlist-nya di Spotify. Share juga di media sosial. <strong
          >
            Menangkan uang tunai sebesar 3 juta rupiah untuk 3 orang yang
            beruntung.
          </strong>
        </p>

        <button
          on:click={methods.handleClick}
          type="submit"
          class="btn btn-danger rounded-0"
        >
          <strong>Main Lagi</strong>
        </button>

        <a href={sharer.facebook} class="share" target="_blank">
          <img src="img/facebook.png" alt="Facebook" loading="lazy" />
        </a>

        <a href={sharer.twitter} class="share" target="_blank">
          <img src="img/twitter.png" alt="Twitter" loading="lazy" />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 15px;
  }

  .logo--wmi {
    right: 0;
  }

  .area {
    width: 100%;
    height: 100%;
    display: block;
  }

  .area > * {
    width: 100%;
  }

  .area > div:nth-child(2) {
    text-align: center;
    background-color: #93312b;
  }

  .area > div:nth-child(2) > div > h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }

  .area > div:nth-child(2) > div > iframe {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .result {
    display: flex;
  }

  .result > div:first-child {
    display: none;
  }

  p.desc {
    color: #eee;
    font-size: 13px;
  }

  p.desc strong {
    font-size: 18px;
    margin-bottom: 15px;
  }

  p.lyric {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #fe0000;
    font-size: 14px;
  }

  .share {
    margin-left: 10px;
  }

  .share > img {
    width: 39px;
  }

  @media (min-width: 576px) {
    .area {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .area > * {
      width: 50%;
      padding: 30px;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .result {
      display: flex;
    }

    .result > div:first-child {
      display: unset;
      margin-right: 20px;
    }

    p.lyric {
      font-size: 20px;
      text-align: left;
    }

    .mobile-image {
      display: none;
    }
  }
</style>
