<script>
  import config from '../config.js'
  import { onMount } from 'svelte'
  import axios from 'axios'

  let baseUrl = ''

  onMount(async () => {
    await axios
      .get(config.BASE_API + 'get_sharer')
      .then(response => {
        if (response.data) {
          baseUrl = response.data.sharer.base_url
        }
      })
      .catch(error => {
        console.warn(error)
      })
  })
</script>

<div class="cover-container w-100 h-100 mx-auto">
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        <h2>
          SYARAT DAN KETENTUAN <br />
          UNTUK RICKY MONTGOMERY – PERSONALITY QUIZ
        </h2>
        <div>
          <p>
            Promosi ini dijalankan oleh Warner Music Indonesia,
            (&quot;kami&quot;) yang beralamat di Alia Building 6 th Floow, Jalan
            M.I Ridwan Rais No. 10-18, Gambir, Jakarta 10110. Kami adalah
            &quot;Promotor&quot; dari Promosi. Dengan memberikan data Anda
            kepada kami, Anda menegaskan bahwa Anda ingin mengikuti Promosi dan
            Anda setuju untuk terikat oleh syarat dan ketentuan ini
            (&quot;S&amp;K&quot;). Jika terjadi pertentangan antara ketentuan
            yang dirujuk dalam materi promosi dengan S&amp;K ini, maka S&amp;K
            ini yang akan diutamakan.
          </p>
          <p>1. KELAYAKAN</p>
          <p>
            1.1. Anda harus menjadi penduduk sah di Indonesia dan paling sedikit
            berusia lima belas (15) tahun (dan mendapatkan persetujuan dari
            orang tua atau wali sah Anda yang berusia 21 tahun ke atas) untuk
            mengikuti promosi ini. Karyawan, direktur, manajemen, pemegang
            lisensi, kontraktor, afiliasi, agensi yang terkait dengan kami,
            keluarga dekat atau orang yang tinggal serumah (baik terkait maupun
            tidak) dengan orang-orang yang tercantum di atas, dan pengecer serta
            pemasok kami tidak diizinkan untuk mengikuti Promosi.
          </p>
          <p>
            1.2. Promosi ini dibuka mulai pukul 10:00 AM pada hari minggu
            tanggal 12 April 2021 sampai hari minggu pukul 11:59 PM tanggal 10
            Mei 2021. Komputer promotor akan berfungsi sebagai jam resmi untuk
            Promosi. Kami tidak bertanggung jawab atas pendaftaran yang hilang,
            rusak, atau terlambat, atau atas ketidakmampuan untuk mengirimkan
            pendaftaran sebagai akibat dari layanan komputer, sistem, perangkat
            lunak dan/atau kegagalan server, kesalahan, gangguan, cacat atau
            keterlambatan, atau kesalahan teknis lainnya, termasuk masalah
            dengan konektivitas internet dan/atau pemfilteran konten oleh
            platform media sosial apapun (sebagaimana berlaku). Pendaftaran yang
            terlambat masuk, tidak lengkap, rusak, kacau, tidak dapat
            diakses/diblokir, massal, otomatis, tidak memenuhi syarat, dicurigai
            sebagai penipuan, dikirim melalui cara yang diprogram/otomatis,
            tidak sesuai dengan S&K, atau yang menurut kebijaksanaan kami
            sepenuhnya mempengaruhi keabsahan atau pelaksanaan Promosi ini tidak
            akan diterima dan batal. Untuk mengikuti promosi ini Anda harus
            memiliki akses internet tanpa batas.
          </p>
          <p>
            1.3. Kami berhak atas kebijaksanaan mutlak kami untuk
            mendiskualifikasi dari Promosi ini setiap peserta yang tidak
            mematuhi S&K ini dan memberikan hadiah ke peserta yang lain.
          </p>
          <p>2. CARA IKUT SERTA</p>
          <p>
            2.1. Promosi akan dipromosikan di alamat URL berikut:
            {baseUrl} ("Situs Web") Untuk mengikuti Promosi, peserta harus masuk
            melalui akun Spotify mereka untuk mengakses halaman kuis dan menconteng
            S&K. Semua peserta akan secara otomatis berlangganan Newsletter Topsify.
            Peserta mungkin akan mendapat tambahan untuk mengunduh link video mereka
            [Topsify Ricky Montgomery video]. Silahkan lihat di website untuk lebih
            detail.
          </p>
          <p>
            2.2. Promotor berhak atas kebijakannya sepenuhnya untuk
            mendiskualifikasi semua pendaftaran jika menurutnya untuk alasan
            yang dapat dibenarkan seseorang telah terlibat dalam pelanggaran
            berulang, berat, atau terang-terangan terhadap batasan pendaftaran.
            Promotor dapat mengakui penerimaan pendaftaran; tetapi, dalam kasus
            seperti itu, pengakuan bukan merupakan representasi dari kelayakan
            untuk Promosi.
          </p>
          <p>3. HADIAH</p>
          <p>
            3.1. Hadiah berupa uang tunai sebesar Rp3.000.000 (tiga juta rupiah)
            untuk 3 (tiga) orang pemenang.
          </p>
          <p>
            3.2. Pemenang harus berumur 15 tahun (dengan bimbingan orang tua
            atau wali dengan usia diatas 21 tahun). Kami akan membayar semua
            biaya dari hadiah tersebut.
          </p>
          <p>
            3.3. Pemenang sepenuhnya bertanggung jawab untuk membayar semua
            biaya terkait yang tidak disebutkan secara spesifik di dalam S&K.
            Pemenang juga akan bertanggung jawab atas semua dokumentasi pribadi
            yang berlaku (seperti KTP dan/atau paspor yang masih berlaku) dan
            pajak, jika ada, terkait dengan dan/atau yang harus dibayarkan
            sehubungan dengan hadiah sesuai dengan hukum atau peraturan yang
            berlaku. Kami tidak bertanggung jawab untuk menyediakan hadiah
            lainnya untuk alasan apapun.
          </p>
          <p>3.4. Hadiah tidak dapat dipindahtangankan.</p>
          <p>4. PEMILIHAN PEMENANG DAN PEMBERITAHUAN</p>
          <p>
            4.1. Peserta yang menang akan dipilih pada hari Rabu tanggal 28
            April 2021. Pemenang dipilih secara acak dengan validasi yang sesuai
            kriteria. Peluang menang tergantung pada jumlah total entri yang
            memenuhi syarat yang diterima dan memenuhi kriteria seleksi.
          </p>
          <p>
            4.2. Kami akan berusaha memberitahu pemenang selambat-lambatnya pada
            hari Jumat, 30 April 2021 menggunakan detail kontak yang dikirimkan
            saat entri. Jika Anda terpilih sebagai pemenang dan rincian kontak
            Anda telah berubah sejak entri Anda, kami berhak untuk
            mendiskualifikasi entri Anda dan memilih pemenang alternatif.
          </p>
          <p>
            4.3. Jika salah satu dari keadaan berikut berlaku, pemenang akan
            dianggap telah kehilangan hadiah dan pemenang alternatif dapat
            dipilih dari sisa peserta yang memenuhi syarat menggunakan proses
            yang ditetapkan di atas:
          </p>
          <p>
            4.3.1. Jika pemenang belum mengambil hadiah pada tanggal yang
            ditentukan dalam pemberitahuan pemenang, kami berhak untuk melakukan
            seleksi lebih lanjut sesuai dengan klausul 4.1 di atas untuk
            memberikan hadiah tersebut kepada peserta lain.
          </p>
          <p>
            4.3.2. Hadiah (atau korespondensi apa pun yang berkaitan dengannya,
            misalnya pemberitahuan dari kami yang mengonfirmasi entri yang
            menang) dikembalikan karena tidak dapat dikirimkan;
          </p>
          <p>
            4.3.3. pemenang yang relevan tidak memberikan bukti identitas, usia,
            tempat tinggal yang diminta, atau merupakan pemegang resmi dari akun
            email dari mana entri tersebut dikirim untuk kepuasan kami dalam
            waktu 48 jam sejak permintaan tersebut dibuat; atau
          </p>
          <p>
            4.3.4. Kami memutuskan adanya ketidakpatuhan dengan semua S&K ini
            untuk alasan yang dapat dibenarkan.
          </p>
          <p>
            4.4. Kami tidak akan memberitahu peserta yang tidak berhasil. Nama
            pemenang akan dikirim paket dengan cap nama “Ricky Montgomery
            Campaign“, Warner Music Indonesia, Alia Building 6th Floor, Jalan
            M.I Ridwan Rais No. 10-18, Gambir, Jakarta 10110
          </p>
          <p>
            5. Para peserta mungkin diminta untuk mengambil bagian dalam
            publisitas promosi kami dan menandatangani formulir rilis sehubungan
            dengan publisitas tersebut.Dengan mendaftar ke dalam Promosi ini,
            Anda setuju untuk memberikan dan bahwa kami (atau pihak ketiga yang
            mungkin kami pilih) dapat menggunakan pendaftaran Anda, rincian
            nama, rupa, suara, penampilan (jika ada) dan kabupaten/negara tempat
            tinggal dan/atau identitas diri Anda lainnya dalam segala jenis
            media ( termasuk namun tidak terbatas pada Internet terutama di
            semua situs web, TV, radio, pers, layar, teater terkait promotor,
            dll.) dan dalam segala jenis materi ( termasuk tanpa batasan materi
            cetak, poster, iklan pers, materi online seperti misalnya web-banner
            dan email, iklan audio-visua, dll), di seluruh dunia untuk iklan dan
            tujuan promosi sehubungan dengan promosi tanpa otorisasi,
            pemberitahuan atau kompensasi tambahan kecuali dilarang oleh hukum.
          </p>
          <p>6. PERLINDUNGAN DATA</p>
          <p>
            6.1. Dengan mengirimkan sebuah pendaftaran, peserta setuju dan
            mengizinkan bahwa kami, afiliasi, penyedia layanan dan/atau agen
            kami dapat memproses informasi pribadi yang disampaikan oleh Anda
            sebagai bagian dari proses pendaftaran (termasuk rincian kontak)
            untuk keperluan pelaksanaan Promosi, mengatur hadiah dan sesuai
            dengan Kebijakan Privasi kami, yang tersedia di
            www.wminewmedia.com/privacy.
          </p>
          <p>7. UMUM</p>
          <p>
            7.1. Tunduk pada, jika berlaku, persetujuan dari pihak berwenang
            yang telah mengeluarkan izin untuk pelaksanaan Promosi ini, kami
            dapat dengan kebijaksanaan mutlak kami memodifikasi, mengubah,
            memperpanjang, membatalkan atau menangguhkan S&K ini, dan/atau
            Promosi kapanpun jika kami anggap perlu, karena alasan teknis,
            peristiwa, atau tindakan yang ditentukan dalam S&K ini, atau untuk
            memastikan kepatuhan terhadap hukum, peraturan, dan panduan yang
            berlaku, atau jika suatu keadaan muncul di luar kendali kami. Tidak
            ada tanggung jawab yang melekat pada kami sebagai akibatnya.
          </p>
          <p>
            7.2. Tunduk pada hukum yang berlaku, kami berhak untuk
            mendiskualifikasi sebuah peserta dalam kebijaksanaan mutlak kami.
            Selain itu, tindakan mengganggu Promosi (termasuk URL) akan
            mengakibatkan diskualifikasi; tetapi pendiskualifikasian tidak akan
            menjadi satu-satunya upaya hukum yang tersedia untuk Promotor.
          </p>
          <p>
            7.3. Kecuali sejauh tidak dikecualikan oleh undang-undang, tidak ada
            pernyataan, jaminan, syarat atau ketentuan yang tidak secara tegas
            dinyatakan dalam S&K ini yang berlaku untuk Promosi ini. Kami tidak
            bertanggung jawab atas cedera, kehilangan, atau kerusakan apapun
            yang timbul dari atau sehubungan dengan keikutsertaan dalam Promosi
            ini (termasuk kerusakan apapun pada komputer pribadi atau komputer
            orang lain terkait atau akibat keikutsertaan dalam, atau pengunduhan
            apapun materi atau perangkat lunak sehubungan dengan, Promosi ini)
            kecuali untuk pertanggungjawaban kerusakan atau kerugian yang
            disebabkan oleh kelalaian, yang tidak dikecualikan.
          </p>
          <p>
            7.4. Dalam hal terjadi peristiwa atau tindakan yang berada di luar
            kendali kami yang mencegah atau secara signifikan menghalangi
            kemampuan kami untuk melanjutkan Promosi pada tanggal dan dengan
            cara yang dijelaskan dalam syarat dan ketentuan ini ( termasuk
            tetapi tidak terbatas pada vandalisme, kegagalan sumberdaya listrik,
            prahara, bencana alam, tindakan Tuhan, kerusuhan sipil, pemogokan,
            perang dan aksi terorisme), Promotor dapat karena alasan yang
            dibenarkan membatalkan Promosi dan memulai lagi dari awal di lain
            waktu dengan syarat yang sama. Jika Promosi diatur oleh badan
            pemerintah yang berlaku, pembatalan atau dimulainya kembali Promosi
            akan tunduk pada persyaratan yang diberlakukan oleh badan tersebut.
          </p>
          <p>
            7.5. Jika karena alasan apapun Promosi ini tidak dapat berjalan
            sesuai rencana karena sebab-sebab yang berada di luar kendali kami
            yang mempengaruhi pelaksanaan Promosi ini dengan sebaik-baiknya,
            kami berhak dengan alasan yang dapat dibenarkan untuk
            mendiskualifikasi setiap individu yang merusak proses pendaftaran
            dan/atau mengambil tindakan lain apapun terhadap individu tersebut
            yang mungkin tersedia, dan untuk membatalkan, menghentikan,
            mengubah, atau menangguhkan Promosi dengan tunduk pada persyaratan
            badan pemerintah terkait yang mengatur jalannya Promosi.
          </p>
          <p>
            7.6. Setiap pemenang bertanggung jawab untuk mendapatkan nasihat
            hukum mereka sendiri.
          </p>
          <p>
            7.7. Kami tidak bertanggung jawab atas masalah atau kerugian apapun
            yang mungkin disebabkan oleh Anda mengakses/ menggunakan Situs Web
            untuk tujuan ini.
          </p>
          <p>
            7.8. Keputusan kami tentang masalah apapun yang timbul dari atau
            terkait dengan Promosi dan S&K ini adalah final dan mengikat dan
            tidak ada korespondensi yang akan dilakukan. Kegagalan Promotor
            untuk menegakkan ketentuan tertentu dari S&K ini dalam keadaan
            tertentu tidak akan dianggap sebagai pengabaian ketentuan tersebut.
          </p>
          <p>
            8. Hukum yang berlaku untuk promosi S&K ini diatur oleh hukum di
            negara Indonesia dan tunduk pada yurisdiksi eksklusif, pengadilan
            yang relevan di Indonesia.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
  }
  .content {
    padding: 15px;
    overflow-y: scroll;
    height: 100vh;
    background-color: #dde2ea;
    color: #333;
  }
</style>
