<script>
  import SecureLS from 'secure-ls'
  import { push } from 'svelte-spa-router'
  import Router from 'svelte-spa-router'

  import config from './config.js'
  import { play } from './store.js'
  import routes from './routes'

  const ls = new SecureLS()

  let data = {}

  play.subscribe(game => {
    if (game.token) {
      const gameData = game
      let answersData = gameData ? gameData.answers : []

      data = {
        ...gameData,
        answers: answersData
      }

      ls.set('play', data)
    }
  })

  if (!data.token && ls.get('play')) {
    const gameData = ls.get('play')
    let answersData = gameData ? gameData.answers : []

    play.update(() => {
      return {
        ...gameData,
        answers: answersData
      }
    })
  }

  if (
    data.token &&
    (!data.answers || data.answers.length < config.QUESTIONS.length)
  ) {
    push('/question')
  } else if (
    data.token &&
    data.answers &&
    data.answers.length >= config.QUESTIONS.length
  ) {
    push('/result')
  }
</script>

<div id="base">
  <Router {routes} />
</div>

<style>
  div {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
  }
</style>
